    <section class="content-header">
      <h1>Orders</h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">All Orders</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <form>
                <div class="row">
                  <div class="col-md-4 pull-right">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search Orders..." ng-model="search">
                      </div>      
                    </div>
                  </div>
                </div>
              </form>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      <a href="" ng-click="sortType='orderId';sortReverse=!sortReverse">
                        Order ID 
                        <span ng-show="sortType=='orderId'" class="fa" ng-class="sortReverse ? 'fa-caret-up':'fa-caret-down'"></span>
                        <!-- <span ng-show="sortType=='orderId' && sortReverse" class="fa fa-caret-up"></span> -->
                      </a>
                    </th>
                    <th>Category</th>
                    <th>QTY</th>
                    <th>State</th>
                    <th>LGA</th>
                    <th>Status</th>
                    <th>Paid</th>
                    <th>Date</th>
                    <th class=""></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="order in orders | orderBy:sortType:sortReverse | filter:search | 
 pagination: curPage * pageSize | limitTo: pageSize">
                    <td>{{order.orderId}}</td>
                    <td><span class="label label-info">{{order.category}}</span></td>
                    <td>{{order.qty}}</td>
                    <td>{{order.state_name}}</td>
                    <td>{{order.lga_name}}</td>
                    <td><span class="label label-success">{{order.status}}</span></td>
                    <td><span class="label label-danger">{{order.paid | uppercase}}</span></td>
                    <td>{{order.created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <!-- <td>
                        <div ng-repeat="files in order.uploadedFiles">
                          <a ng-href="{{files}}" target="_blank">View File</a><br/>
                        </div>
                    </td> -->
                    <td class="actions">
                      <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#myModal" title="View Order" ng-click="viewOrder(order)"><i class="fa fa-search"></i></button>
                      <button class="btn btn-sm btn-info" title="Download All Images" ng-click="downloadImages(order.orderId,order.uploadedFiles)">
                        <i class="fa fa-download"></i>
                      </button>
                      <button class="btn btn-sm btn-success" title="Mark as Completed" ng-click="updateOrder(order)">
                        <i class="fa fa-check"></i>
                      </button>
                      <button class="btn btn-sm btn-danger" title="Delete Order" ng-click="removeOrder(order)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr ng-show="noOrders">
                    <td colspan="9">No Orders Available</td>
                  </tr>
                </tbody>                
              </table>

            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              {{orders.length}} Orders
              <!--Pagination div -->

              
              <ul class="pagination pagination-sm no-margin pull-right" ng-show="orders.length">
                <li><a href="javascript:void" ng-class="{disabled:curPage == 0}" ng-click="curPage=curPage-1">&laquo;</a></li>
                <li>
                  <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                </li>
                <!-- <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li> -->
                <li><a href="javascript:void" ng-class="{disabled:curPage >= orders.length/pageSize - 1}"
                 ng-click="curPage = curPage+1">&raquo;</a></li>
              </ul>
            </div>
          </div>
          <!-- /END box -->

        </div>
      </div>
       

    </section>
    <!-- /.content -->

<!-- Modal Start-->
  <div class="modal fade" id="myModal" role="dialog">

    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title">Order Details</h2>
        </div>

        <div class="modal-body">

          <div class="order_details">
            
              
              <div class="section_header">Personal Details</div>
              <div class="row">
                <div class="col-md-4 order_item_title">Name</div>
                <div class="col-md-8 order_item_value">{{OrderDetails.name}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">Email</div>
                <div class="col-md-8 order_item_value">{{OrderDetails.email}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">Phone</div>
                <div class="col-md-8 order_item_value">{{OrderDetails.phone}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">Address</div>
                <div class="col-md-8 order_item_value">{{OrderDetails.address}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">LGA</div>
                <div class="col-md-8 order_item_value">{{OrderDetails.lga_name}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">State</div>
                <div class="col-md-8 order_item_value">{{OrderDetails.state_name}}</div>
              </div>

              <div class="section_header">Order Details</div>

              <div class="row">
                <div class="col-md-4 order_item_title">Order ID</div>
                <div class="col-md-8 order_item_value">{{OrderDetails.orderId}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">Category</div>
                <div class="col-md-8 order_item_value">{{OrderDetails.category}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">Order Status</div>
                <div class="col-md-8 order_item_value">{{OrderDetails.status}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">Date Ordered</div>
                <div class="col-md-8 order_item_value">{{OrderDetails.created | date:'yyyy-MM-dd HH:mm:ss'}}</div>
              </div>

              <div class="section_header">Product Details</div>

              <div class="row">
                
                <div class="col-md-12 products_table_header">
                  <div class="col-md-4 order_item_title">
                    Product
                  </div>
                  <div class="col-md-2 order_item_title">
                    Qty
                  </div>
                  <div class="col-md-4 order_item_title">
                    File
                  </div>
                </div>

              </div>

              <div class="row" ng-repeat="product in OrderDetails.products">

                <div class="col-md-12 products_table">
                  <div class="col-md-4 order_item_value">
                    {{product.name}}
                  </div>
                  <div class="col-md-2 order_item_value">
                    {{product.qty}}
                  </div>
                  <div class="col-md-3 order_item_value">
                    {{product.total}}
                  </div>
                  <div class="col-md-3 order_item_actions">
                    <a href="{{product.file}}" target="_blank"> View Photo </a>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-4 order_item_title">Total Quantity</div>
                <div class="col-md-8 order_item_value">{{OrderDetails.qty}}</div>
              </div>

              <div class="section_header">Delivery Details</div>

              <div class="row">
                <div class="col-md-4 order_item_title">Delivery Type</div>
                <div class="col-md-8 order_item_value">{{OrderDetails.delivery_type | uppercase}}</div>
              </div>

              <div class="section_header">Financial Details</div>

              <div class="row">
                <div class="col-md-4 order_item_title">Amount</div>
                <div class="col-md-8 order_item_value">&#x20A6; {{OrderDetails.amount}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">Delivery Charge</div>
                <div class="col-md-8 order_item_value">&#x20A6; {{OrderDetails.delivery_charge}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">Total</div>
                <div class="col-md-8 order_item_value">&#x20A6; {{OrderDetails.total}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">Paid?</div>
                <div class="col-md-8 order_item_value">{{ OrderDetails.paid | uppercase }}</div>
              </div>

              <!--<div class="section_header">Photos Uploaded</div>

              <div class="row">
                <div class="col-md-4 order_item_title">Photos</div>
                <div class="col-md-8 order_item_value">
                  <div class="photo" ng-repeat="photo in OrderDetails.uploadedFiles track by $index">
                    <a href="{{photo}}" target="_blank"> View Photo </a>
                  </div>
                </div>
              </div>-->

          </div> 

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>

      </div>
    </div>
</div>
<!-- Modal End-->