    <section class="content-header">
      <h1>Orders</h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">All Orders</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <form>
                <div class="row">
                  <div class="col-md-4 pull-right">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search Orders..." ng-model="search">
                      </div>      
                    </div>
                  </div>
                </div>
              </form>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      <a href="" ng-click="sortType='orderId';sortReverse=!sortReverse">
                        Order ID 
                        <span ng-show="sortType=='orderId'" class="fa" ng-class="sortReverse ? 'fa-caret-up':'fa-caret-down'"></span>
                        <!-- <span ng-show="sortType=='orderId' && sortReverse" class="fa fa-caret-up"></span> -->
                      </a>
                    </th>
                    <th>Category</th>
                    <th>QTY</th>
                    <th>State</th>
                    <th>LGA</th>
                    <th>Status</th>
                    <th>Paid</th>
                    <th>Date</th>
                    <th class=""></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="order in orders | orderBy:sortType:sortReverse | filter:search | 
 pagination: curPage * pageSize | limitTo: pageSize">
                    <td>{{order.orderId}}</td>
                    <td><span class="label label-info">{{order.category}}</span></td>
                    <td>{{order.qty}}</td>
                    <td>{{order.state_name}}</td>
                    <td>{{order.lga_name}}</td>
                    <td><span class="label label-success">{{order.status}}</span></td>
                    <td><span class="label label-danger">{{order.paid | uppercase}}</span></td>
                    <td>{{order.created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <!-- <td>
                        <div ng-repeat="files in order.uploadedFiles">
                          <a ng-href="{{files}}" target="_blank">View File</a><br/>
                        </div>
                    </td> -->
                    <td class="actions">
                      <button class="btn btn-sm btn-default" title="View Order" ng-click="viewOrder(order)"><i class="fa fa-search"></i></button>
                      <button class="btn btn-sm btn-info" title="Download All Images" ng-click="downloadImages(order.orderId,order.uploadedFiles)">
                        <i class="fa fa-download"></i>
                      </button>
                      <button class="btn btn-sm btn-success" title="Mark as Completed" ng-click="updateOrder(order)">
                        <i class="fa fa-check"></i>
                      </button>
                      <button class="btn btn-sm btn-danger" title="Delete Order" ng-click="removeOrder(order)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr ng-show="noOrders">
                    <td colspan="9">No Orders Available</td>
                  </tr>
                </tbody>

                
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              {{orders.length}} Orders
              <!--Pagination div -->

              
              <ul class="pagination pagination-sm no-margin pull-right" ng-show="orders.length">
                <li><a href="javascript:void" ng-class="{disabled:curPage == 0}" ng-click="curPage=curPage-1">&laquo;</a></li>
                <li>
                  <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                </li>
                <!-- <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li> -->
                <li><a href="javascript:void" ng-class="{disabled:curPage >= orders.length/pageSize - 1}"
                 ng-click="curPage = curPage+1">&raquo;</a></li>
              </ul>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->

<!-- modal template -->
<div class="modal-view">
<script type="text/ng-template" id="orderModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Order Details</h3>
    </div>
    <div class="modal-body" id="modal-body">
        OrderId: 
        <!-- <ul>
            <li ng-repeat="item in $ctrl.items">
                <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ $ctrl.selected.item }}</b> -->
    </div>
    <div class="modal-footer">
        <!-- <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button> -->
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Close</button>
    </div>
</script>
<div class="modal-parent">
    </div>
</div>