    <section class="content-header">
      <h1>Users</h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-md-12">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Users</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <form>
                <div class="row">
                  <div class="col-md-4 pull-right">
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search Users..." ng-model="search">
                      </div>      
                    </div>
                  </div>
                </div>
              </form>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      <a href="" ng-click="sortType='name';sortReverse=!sortReverse">
                        Name 
                        <span ng-show="sortType=='name'" class="fa" ng-class="sortReverse ? 'fa-caret-up':'fa-caret-down'"></span>
                        <!-- <span ng-show="sortType=='orderId' && sortReverse" class="fa fa-caret-up"></span> -->
                      </a>
                    </th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>LGA</th>
                    <th>State</th>
                    <th>Role</th>
                    <th>Created</th>
                    <th class=""></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="user in users | orderBy:sortType:sortReverse | filter:search | 
 pagination: curPage * pageSize | limitTo: pageSize">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.lga | uppercase}}</td>
                    <td>{{user.state | uppercase}}</td>
                    <td>{{user.role | uppercase}}</td>
                    <td>{{user.created | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td class="actions">
                      <button class="btn btn-sm btn-default" data-toggle="modal" data-target="#myModal" title="View User" ng-click="viewUser(user)"><i class="fa fa-search"></i></button>
                      <button class="btn btn-sm btn-danger" title="Delete User" ng-click="removeUser(user)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr ng-show="noUsers">
                    <td colspan="8">No Users Available</td>
                  </tr>
                </tbody>

              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              {{users.length}} Users
              <!--Pagination div -->

              
              <ul class="pagination pagination-sm no-margin pull-right" ng-show="users.length">
                <li><a href="javascript:void" ng-class="{disabled:curPage == 0}" ng-click="curPage=curPage-1">&laquo;</a></li>
                <li>
                  <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                </li>
                <!-- <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li> -->
                <li><a href="javascript:void" ng-class="{disabled:curPage >= users.length/pageSize - 1}"
                 ng-click="curPage = curPage+1">&raquo;</a></li>
              </ul>
            </div>
          </div>
          <!-- /.box -->
        </div>
      </div>

    </section>
    <!-- /.content -->

<!-- Modal Start-->
  <div class="modal fade" id="myModal" role="dialog">

    <div class="modal-dialog">

      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title">User Details</h2>
        </div>

        <div class="modal-body">

          <div class="user_details">

              <div class="row">
                <div align="center">
                  <img ng-src="{{UserDetails.avatar}}" width="150" height="150" class="avatar" /> 
                </div>
              </div>
              
              <div class="section_header">Bio Data</div>
              <div class="row">
                <div class="col-md-4 order_item_title">Name</div>
                <div class="col-md-8 order_item_value">{{UserDetails.name | uppercase}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">Email</div>
                <div class="col-md-8 order_item_value">
                  <a ng-href="mailto:{{UserDetails.email}}"> {{UserDetails.email}} </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">Phone</div>
                <div class="col-md-8 order_item_value">
                  <a ng-href="tel:{{UserDetails.phone}}"> {{UserDetails.phone}} </a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">Address</div>
                <div class="col-md-8 order_item_value">{{UserDetails.address | uppercase}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">LGA</div>
                <div class="col-md-8 order_item_value">{{UserDetails.lga | uppercase}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 order_item_title">State</div>
                <div class="col-md-8 order_item_value">{{UserDetails.state | uppercase}}</div>
              </div>

          </div> 

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>

      </div>
    </div>
</div>
<!-- Modal End-->